@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
body{
    font-family: 'Urbanist', sans-serif;
    background: #F8f8f8;
  }
  .rectangle-1352 {
    background: #f8e4d8;
    border-radius: 58px;
    width: 1800px;
    height: 70px;
    position: absolute;
    left: 50px;
    top: 17px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  }
  .main{
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: flex-start;
    margin-left: 0px;
    margin-top: 16px;
  }
  .mainmenu{
    color: var(--mindful-gray-80, #4b3425);
    text-align: center;
    font: 200 30px "Urbanist", sans-serif;
    position: relative;
    margin-top: 0px;
    left: 40px;
    text-decoration: none;
  }
  .menudot {
    background: var(--mindful-gray-60, #926247);
    border-radius: 1234px;
    flex-shrink: 0;
    width: 12px;
    height: 12px;
    left: 20px;
    top: 30px;
    position: relative;
    overflow: hidden;
    position: absolute;
  }
  .vita-wise {
    color: #4b3425;
    text-align: center;
    font: 600 42px "Urbanist", sans-serif;
    position: absolute;
    left: 810px;
    top: 10px;
  }
  .logo{
    padding-top: 5px;
  }
  .marker-home {
    position: absolute;
    top: 450px;
    transform: translate(0.09px, -16.73px);
    overflow: visible;
    left: -10px;
   }
  .icons {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 1649px;
    top: 30px;
  }
  .monotone-46-email-1 {
    position: absolute;
    left: calc(50% - 12px);
    top: calc(50% - 12px);
  }
.about-us-page, .about-us-page * {
    box-sizing: border-box;
    }
.about-us-page {
   background: #f8f8f8;
    border-radius: 35px;
    width: 1880px;
    height: 890px;
    position: absolute;
    overflow: hidden;
   }

.image-25 {
   border-radius: 37px;
    border-style: solid;
    border-color: #4b3425;
    border-width: 1px;
    width: 315px;
    height: 321px;
    position: absolute;
    left: 51px;
   top: 558px;
   }
.image-22 {
    border-radius: 37px;
    border-color: #4b3425;
    border-width: 1px;
    width: 315px;
    height: 321px;
    position: absolute;
    left: 1350px;
    top: 124px;
}
.rectangle-1366 {
   background: #e5ead7;
    border-radius: 48px;
    width: 708px;
    height: 750px;
    position: absolute;
    left: 607px;
   top: 138px;
   
   }

   
   .vector5 {
     border-radius: 1234px;
     border-style: solid;
     border-color: var(--mindful-gray-80, #4b3425);
     border-width: 2px;
     width: 18px;
     height: 14px;
     position: absolute;
     left: 3px;
     top: 5px;
   }
   .vector6 {
     border-radius: 50%;
     border-style: solid;
     border-color: var(--mindful-gray-80, #4b3425);
     border-width: 2px;
     width: 12px;
     height: 12px;
     position: absolute;
     left: 6px;
     top: 0px;
   }

.image-29 {
   border-radius: 37px;
    border-style: solid;
    border-color: #4b3425;
    border-width: 1px;
    width: 301px;
    height: 313px;
    position: absolute;
    left: 250px;
   top: 317px;
   }
.image-14 {
    border-radius: 37px;
    border-color: #4b3425;
    border-width: 1px;
    width: 301px;
    height: 313px;
    position: absolute;
    left: 1570px;
    top: 357px;
}
.image-20 {
   border-radius: 37px;
    border-style: solid;
    border-color: #4b3425;
    border-width: 1px;
    width: 291px;
    height: 301px;
    position: absolute;
    left: 46px;
   top: 124px;
   }
.image-26 {
    border-radius: 37px;
    border-color: #4b3425;
    border-width: 1px;
    width: 291px;
    height: 301px;
    position: absolute;
    left: 1350px;
    top: 558px;
}
.text {
   color: var(--mindful-gray-100-alpha-64, rgba(31, 22, 15, 0.64));
    text-align: left;
    font: 500 26px/160% 'Urbanist', sans-serif;
    position: absolute;
    left: 648px;
   top: 325px;
    width: 643px;
    height: 654px;
   }

.text2 {
   display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 266px;
    height: 80px;
    position: absolute;
    left: 649px;
   top: 168px;
   }

.heading {
   text-align: left;
    font: 700 64px/80px 'Urbanist', sans-serif;
    position: relative;
    width: 266px;
    height: 80px;
   }

.heading-span {
   
           color: var(--mindful-gray-80, #4b3425);
   
           font: 700 64px/80px 'Urbanist', sans-serif;
   
           
           
       }

.heading-span2 {
   
           color: #fe814b;
   
           font: 700 64px/80px 'Urbanist', sans-serif;        
           
       }

.marker {
   position: absolute;
    left: 678px;
   top: 276.09px;
    transform: translate(0.07px, -9.89px);
    overflow: visible;
   }

