/*footer*/
.footer, .footer * {
   box-sizing: border-box;
   }
 .footer {
  position: absolute;
   inset: 0;
   top: 200px;
  }
 
 .rectangle-2602 {
  background: #f8e4d8;
   width: 1880px;
   height: 456px;
   position: absolute;
   left: 0px;
  top: 3728px;
  }
 
 .copywrite-2023 {
  color: #4b3425;
   text-align: left;
   font: 800 16px 'Urbanist', sans-serif;
   position: absolute;
   left: 920px;
  top: 4152px;
   width: 124px;
   height: 17px;
  }
 
 .terms-conditions {
  color: #4b3425;
   text-align: left;
   font: 600 32px 'Urbanist', sans-serif;
   position: absolute;
   left: 842px;
  top: 3918px;
  }
 
 ._1800-1234-12 {
  color: #4b3425;
   text-align: left;
   font: 700 24px 'Urbanist', sans-serif;
   position: absolute;
   left: 74px;
  top: 3932px;
   width: 183px;
  }
 
 .vita-wise-footer {
  color: #4b3425;
   text-align: left;
   font: 700 32px 'Urbanist', sans-serif;
   position: absolute;
   left: 70px;
   top: 3784px;
  }
 
 .vitawise-gmail-com {
  color: #4b3425;
   text-align: left;
   font: 700 24px 'Urbanist', sans-serif;
   position: absolute;
   left: 74px;
  top: 3887px;
   width: 295px;
  }
 
 .contact-us {
  color: rgba(254, 129, 75, 0.80);
   text-align: left;
   font: 700 24px 'Urbanist', sans-serif;
   position: absolute;
   left: 74px;
  top: 3850px;
   width: 295px;
  }
 
 .come-visit-us {
  color: rgba(254, 129, 75, 0.80);
   text-align: left;
   font: 700 24px 'Urbanist', sans-serif;
   position: absolute;
   left: 67px;
  top: 4002px;
   width: 295px;
  }
 
 .connect-with-us {
  color: rgba(254, 129, 75, 0.80);
   text-align: left;
   font: 700 24px 'Urbanist', sans-serif;
   position: absolute;
   left: 1430px;
  top: 4055px;
   width: 295px;
  }
  
 .streamline-computer-logo-facebook-1-media-facebook-social {
  position: absolute;
   left: 1434px;
  top: 4115px;
   overflow: visible;
  }
 
 .streamline-computer-logo-google-media-google-social {
  position: absolute;
   left: 1507px;
  top: 4115px;
   overflow: visible;
  }
 
 .mdi-instagram {
  position: absolute;
   left: 1653px;
  top: 4115px;
   overflow: visible;
  }
 
 .uil-linkedin {
  position: absolute;
   left: 1726px;
  top: 4115px;
   overflow: visible;
  }
 
 .simple-icons-x {
  position: absolute;
   left: 1580px;
  top: 4115px;
   overflow: visible;
  }
 
 ._123-health-avenue-wellnessville-healthland-54321-medi-care-nation {
  color: #4b3425;
   text-align: left;
   font: 700 24px 'Urbanist', sans-serif;
   position: absolute;
   left: 67px;
  top: 4041px;
   width: 276px;
   height: 122px;
  }
 
 .fa-qs {
  color: #4b3425;
   text-align: left;
   font: 600 32px 'Urbanist', sans-serif;
   position: absolute;
   left: 945px;
  top: 3841px;
  }
 
 
 
 
 
 