@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
body{
    font-family: 'Urbanist', sans-serif;
    background: #f8e4d82d;
  }
  .rectangle-1352 {
    background: #f8e4d8;
    border-radius: 58px;
    width: 1800px;
    height: 70px;
    position: absolute;
    left: 50px;
    top: 17px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  }
  .main{
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: flex-start;
    margin-left: 0px;
    margin-top: 16px;
  }
  .mainmenu{
    color: var(--mindful-gray-80, #4b3425);
    text-align: center;
    font: 200 30px "Urbanist", sans-serif;
    position: relative;
    margin-top: 0px;
    left: 40px;
    text-decoration: none;
  }
  a .mainmenu :hover{
    color: orangered;
  }
  .menudot {
    background: var(--mindful-gray-60, #926247);
    border-radius: 1234px;
    flex-shrink: 0;
    width: 12px;
    height: 12px;
    left: 20px;
    top: 30px;
    position: relative;
    overflow: hidden;
    position: absolute;
  }
  .vita-wise {
    color: #4b3425;
    text-align: center;
    font: 600 42px "Urbanist", sans-serif;
    position: absolute;
    left: 850px;
    top: 10px;
  }
  .logo{
    padding-top: 5px;
    margin-left: -40px;
  }
  .icons {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 1649px;
    top: 30px;
  }
  .monotone-46-email-1 {
    position: absolute;
    left: calc(50% - 12px);
    top: calc(50% - 12px);
  }
  .head{
      text-decoration: none;
      color: #4b3425;
  }

  /* Login */
  .image-17 {
    border-radius: 62px;
    border-style: solid;
    border-color: #4b3425;
    border-width: 1px;
    width: 364px;
    height: 350px;
    position: absolute;
    left: 74px;
    top: 550px;
  }
  .image-18 {
    border-radius: 54px;
    border-style: solid;
    border-color: #4b3425;
    border-width: 1px;
    width: 394px;
    height: 319px;
    position: absolute;
    left: 735px;
    top: 360px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(-1, 1);
  }
  .image-19 {
    border-radius: 49px;
    border-style: solid;
    border-color: #4b3425;
    border-width: 1px;
    width: 396px;
    height: 317px;
    position: absolute;
    left: 74px;
    top: 120px;
  }
  .rectangle-1366 {
    background: #e5ead7;
    border-radius: 48px;
    width: 708px;
    height: 785px;
    position: absolute;
    left: 1120px;
    top: 130px;
  }
  /* Form */
h1{
    text-align: center;
}
h4{
    text-align: center;
    padding-top: 15px;
}
form{
    width: 300px;
    margin-left: 20px;
}
form .name{
    display:flex;
    margin-top: 50px;
    margin-left: 15px;
    color: var(--mindful-gray-white, #4b3425);
    text-align: left;
    font: var(--textlg-bold, 700 25px 'Urbanist', sans-serif);
}
form .mail{
    display:flex;
    margin-top: 80px;
    margin-left: 15px;
    color: var(--mindful-gray-white, #4b3425);
    text-align: left;
    font: var(--textlg-bold, 700 25px 'Urbanist', sans-serif);
}
form .pass{
    display:flex;
    margin-top: 80px;
    margin-left: 15px;
    color: var(--mindful-gray-white, #4b3425);
    text-align: left;
    font: var(--textlg-bold, 700 25px 'Urbanist', sans-serif);
}
form .rectangle-1361 input{
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
    background: #f8f8f8;
    border-radius: 100px;
    width: 70%;
    height: 58px;
    position: absolute;
    left: 110px;
    top: 210px;
    color: var(--mindful-gray-white, #4b3425);
    text-align: left;
    font: var(--textlg-bold, 700 20px 'Urbanist', sans-serif);
}
form .rectangle-1362 input{
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
    background: #f8f8f8;
    border-radius: 100px;
    width: 70%;
    height: 58px;
    position: absolute;
    left: 110px;
    top: 350px;
    color: var(--mindful-gray-white, #4b3425);
    text-align: left;
    font: var(--textlg-bold, 700 20px 'Urbanist', sans-serif);
}
form .rectangle-1363 input{
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
    background: #f8f8f8;
    border-radius: 100px;
    width: 70%;
    height: 58px;
    position: absolute;
    left: 110px;
    top: 510px;
    color: var(--mindful-gray-white, #4b3425);
    text-align: left;
    font: var(--textlg-bold, 700 20px 'Urbanist', sans-serif);
}
/* input[type="submit"]{
  background: var(--serenity-green-50, #9bb068);
  border-radius: 1000px;
  padding: 16px 8px 16px 16px;
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: center;
  width: 665px;
  height: 78px;
  position: absolute;
  left: 0px;
  top: 550px;
  box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
input[type="submit"]:hover{
    color: #4b3425;
    background: #f8e4d8;
} */
p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
    color: #f8e4d8;
}
.button{
    background: var(--serenity-green-50, #9bb068);
    margin-top: 100px;
    margin-left: 220px;
    width: 250px;
    height: 30px;
    border-radius: 1000px;
    padding: 16px 8px 16px 16px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    cursor: pointer;
  }
  .button:hover{
    background: var(--serenity-green-50,orangered );
  }
  .article-button-text {
    color: var(--mindful-gray-white, #ffffff);
     text-align: left;
     font: var(--textlg-bold, 700 25px 'Urbanist', sans-serif);
     position: relative;
    }
   
   .article-button-icon {
    background: var(--mindful-gray-white, #ffffff);
     border-radius: 1234px;
     display: flex;
     flex-direction: row;
     gap: 10px;
     align-items: center;
     justify-content: center;
     flex-shrink: 0;
     width: 48px;
     height: 48px;
     position: relative;
    }
   h1{
    color: var(--mindful-gray-white, #f8e4d8);
    text-align: center;
    font: var(--textlg-bold, 700 25px 'Urbanist', sans-serif);
    background: var(--serenity-green-50, #926247);
    margin-top: 50px;
    margin-left: 220px;
    width: 250px;
    height: 30px;
    border-radius: 1000px;
    padding: 16px 8px 16px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
   }
   .don-t-have-an-account-sign-up {
    text-align: center;
    font: 700 24px "Urbanist", sans-serif;
    position: absolute;
    color: #4b3425;
    left: 100px;
    margin-top: 25px;
    width: 475px;
    height: 51px;
  }
  a {
    text-decoration: none;
    color: orangered;
  }
  .sign:hover{
    color: #9bb068;
  }
