@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Dosis&family=Noto+Sans&family=Urbanist:wght@500&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;


}

.logo {
    height: 55px;
    margin-left: 60px;
    margin-top: 7px;
}

h1 {
    text-align: center;
    margin-top: 30px;
}

.article-1 {
    display: flex;
    margin: auto;
    width: 1550px;

    /* border: 1px black solid; */
    background-color: rgba(247, 244, 242, 1);
    cursor: pointer;
    border-radius: 30px;
    margin-top: 55px;
    max-height: 226px;
    position: relative;
}

.article-1:hover {}

.article-det {
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    margin-bottom: 40px;
}

p {
    font-size: large;
}

.author {
    position: absolute;
    bottom: 5px;
}